In [13]:
import pandas as pd 
df = pd.read_csv("apy.csv")

In [14]:
df

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0
...,...,...,...,...,...,...,...
246086,West Bengal,PURULIA,2014,Summer,Rice,306.0,801.0
246087,West Bengal,PURULIA,2014,Summer,Sesamum,627.0,463.0
246088,West Bengal,PURULIA,2014,Whole Year,Sugarcane,324.0,16250.0
246089,West Bengal,PURULIA,2014,Winter,Rice,279151.0,597899.0
246090,West Bengal,PURULIA,2014,Winter,Sesamum,175.0,88.0

In [15]:
df = df.drop(df[df["Crop_Year"]<2001].index)

In [16]:
df = df.drop(df[df["Crop_Year"]>2010].index)

In [17]:

df = df.drop(df[df["State_Name"]=="Andaman and Nicobar Islands"].index)

In [18]:
df=df.drop(df[df['Production']<=100].index)

In [19]:
df

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
336,Andhra Pradesh,ANANTAPUR,2001,Kharif,Arhar/Tur,27942.0,7628.0
337,Andhra Pradesh,ANANTAPUR,2001,Kharif,Bajra,1595.0,526.0
338,Andhra Pradesh,ANANTAPUR,2001,Kharif,Castor seed,3191.0,900.0
339,Andhra Pradesh,ANANTAPUR,2001,Kharif,Cotton(lint),8552.0,9055.0
340,Andhra Pradesh,ANANTAPUR,2001,Kharif,Dry chillies,3765.0,7127.0
...,...,...,...,...,...,...,...
245949,West Bengal,PURULIA,2010,Rabi,Wheat,2013.0,5152.0
245951,West Bengal,PURULIA,2010,Summer,Maize,258.0,391.0
245952,West Bengal,PURULIA,2010,Summer,Rice,105.0,281.0
245953,West Bengal,PURULIA,2010,Whole Year,Sugarcane,303.0,11541.0
245954,West Bengal,PURULIA,2010,Winter,Rice,152676.0,261435.0

In [20]:
a=len(df["District_Name"].unique())
a

616

In [22]:
df.to_csv("updated_crop.csv",index=False)