In [31]:
import pandas as pd

In [32]:
df=pd.read_csv('apy.csv')

In [33]:
df

,_id,id,year,state_name,state_code,district_name,district_code,season,crop_code,crop_name,crop_type,area,area_unit,production,production_unit,yield,yield_unit
0,1,0,1998-99,Telangana,28,Adilabad,501,Kharif,202,Arhar/Tur,Pulses,35900.0,Hectare,12700.0,Tonnes,0.35,Tonnes/Hectare
1,2,1,1998-99,Telangana,28,Adilabad,501,Rabi,202,Arhar/Tur,Pulses,100.0,Hectare,100.0,Tonnes,1.00,Tonnes/Hectare
2,3,2,1998-99,Andhra Pradesh,28,Anantapur,502,Kharif,202,Arhar/Tur,Pulses,27400.0,Hectare,9100.0,Tonnes,0.33,Tonnes/Hectare
3,4,3,1998-99,Andhra Pradesh,28,Chittoor,503,Kharif,202,Arhar/Tur,Pulses,6100.0,Hectare,1000.0,Tonnes,0.16,Tonnes/Hectare
4,5,4,1998-99,Andhra Pradesh,28,East Godavari,505,Kharif,202,Arhar/Tur,Pulses,2100.0,Hectare,300.0,Tonnes,0.14,Tonnes/Hectare
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345268,345269,345268,1997-98,West Bengal,19,Pashchim Medinipur,318,Rabi,106,Wheat,Cereals,15088.0,Hectare,27580.0,Tonnes,1.83,Tonnes/Hectare
345269,345270,345269,1997-98,West Bengal,19,Murshidabad,319,Rabi,106,Wheat,Cereals,122714.0,Hectare,281760.0,Tonnes,2.30,Tonnes/Hectare
345270,345271,345270,1997-98,West Bengal,19,Nadia,320,Rabi,106,Wheat,Cereals,52176.0,Hectare,117720.0,Tonnes,2.26,Tonnes/Hectare
345271,345272,345271,1997-98,West Bengal,19,Purba Bardhaman,306,Rabi,106,Wheat,Cereals,4041.0,Hectare,7870.0,Tonnes,1.95,Tonnes/Hectare
345272,345273,345272,1997-98,West Bengal,19,Purulia,321,Rabi,106,Wheat,Cereals,1895.0,Hectare,2760.0,Tonnes,1.46,Tonnes/Hectare

In [34]:
df.columns

Index(['_id', 'id', 'year', 'state_name', 'state_code', 'district_name',
       'district_code', 'season', 'crop_code', 'crop_name', 'crop_type',
       'area', 'area_unit', 'production', 'production_unit', 'yield',
       'yield_unit'],
      dtype='object')

In [35]:
df.drop(['_id', 'id', 'state_code', 'district_code', 'crop_code', 'crop_type', 'area_unit', 'production_unit', 'yield',
       'yield_unit'],axis=1,inplace=True)

In [36]:
df

,year,state_name,district_name,season,crop_name,area,production
0,1998-99,Telangana,Adilabad,Kharif,Arhar/Tur,35900.0,12700.0
1,1998-99,Telangana,Adilabad,Rabi,Arhar/Tur,100.0,100.0
2,1998-99,Andhra Pradesh,Anantapur,Kharif,Arhar/Tur,27400.0,9100.0
3,1998-99,Andhra Pradesh,Chittoor,Kharif,Arhar/Tur,6100.0,1000.0
4,1998-99,Andhra Pradesh,East Godavari,Kharif,Arhar/Tur,2100.0,300.0
...,...,...,...,...,...,...,...
345268,1997-98,West Bengal,Pashchim Medinipur,Rabi,Wheat,15088.0,27580.0
345269,1997-98,West Bengal,Murshidabad,Rabi,Wheat,122714.0,281760.0
345270,1997-98,West Bengal,Nadia,Rabi,Wheat,52176.0,117720.0
345271,1997-98,West Bengal,Purba Bardhaman,Rabi,Wheat,4041.0,7870.0
345272,1997-98,West Bengal,Purulia,Rabi,Wheat,1895.0,2760.0

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345273 entries, 0 to 345272
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   year           345273 non-null  object
 1   state_name     345273 non-null  object
 2   district_name  345273 non-null  object
 3   season         345273 non-null  object
 4   crop_name      345273 non-null  object
 5   area           345273 non-null  float64
 6   production     345273 non-null  float64
dtypes: float64(2), object(5)
memory usage: 18.4+ MB

In [38]:

df['year']=df['year'].astype(str).str.extract(r'(\d{4})')

In [39]:
df

,year,state_name,district_name,season,crop_name,area,production
0,1998,Telangana,Adilabad,Kharif,Arhar/Tur,35900.0,12700.0
1,1998,Telangana,Adilabad,Rabi,Arhar/Tur,100.0,100.0
2,1998,Andhra Pradesh,Anantapur,Kharif,Arhar/Tur,27400.0,9100.0
3,1998,Andhra Pradesh,Chittoor,Kharif,Arhar/Tur,6100.0,1000.0
4,1998,Andhra Pradesh,East Godavari,Kharif,Arhar/Tur,2100.0,300.0
...,...,...,...,...,...,...,...
345268,1997,West Bengal,Pashchim Medinipur,Rabi,Wheat,15088.0,27580.0
345269,1997,West Bengal,Murshidabad,Rabi,Wheat,122714.0,281760.0
345270,1997,West Bengal,Nadia,Rabi,Wheat,52176.0,117720.0
345271,1997,West Bengal,Purba Bardhaman,Rabi,Wheat,4041.0,7870.0
345272,1997,West Bengal,Purulia,Rabi,Wheat,1895.0,2760.0

In [40]:
df['year']=df['year'].astype(int)

In [41]:
df_2 = df[df['year'] >= 2010].reset_index(drop=True)

In [42]:
df_2= df_2.drop(df_2[df_2["state_name"]=="Andaman And Nicobar Islands"].index)
df_2

,year,state_name,district_name,season,crop_name,area,production
51,2010,Andhra Pradesh,Anantapur,Whole Year,Arecanut,409.0,182.0
52,2010,Andhra Pradesh,Krishna,Whole Year,Arecanut,9.0,4.0
53,2010,Andhra Pradesh,West Godavari,Whole Year,Arecanut,20.0,9.0
54,2010,Telangana,Adilabad,Kharif,Arhar/Tur,47884.0,26193.0
55,2010,Telangana,Adilabad,Rabi,Arhar/Tur,1648.0,901.0
...,...,...,...,...,...,...,...
167629,2020,Uttarakhand,Pithoragarh,Rabi,Wheat,16850.0,28415.0
167630,2020,Uttarakhand,Rudra Prayag,Rabi,Wheat,9155.0,8709.0
167631,2020,Uttarakhand,Tehri Garhwal,Rabi,Wheat,15451.0,28096.0
167632,2020,Uttarakhand,Udam Singh Nagar,Rabi,Wheat,105961.0,471000.0
167633,2020,Uttarakhand,Uttar Kashi,Rabi,Wheat,9082.0,15203.0

In [43]:
value=df_2['district_name'].value_counts()
less=value[value<=100].index
less

Index(['South Goa', 'West Kameng', 'Leh Ladakh', 'Suryapet', 'Kinnaur',
       'Rajanna', 'Mansa', 'S.A.S Nagar', 'Gangtok', 'Palghar', 'Hanumakonda',
       'Namchi', 'Jagitial', 'Muktsar', 'Bathinda', 'Peddapalli', 'Jalandhar',
       'Mangan', 'Gyalshing', 'Tarn Taran', 'Jhargram', 'Gurdaspur', 'Fazilka',
       'Patiala', 'Longding', 'Poonch', 'Barnala', 'Rupnagar',
       'Paschim Bardhaman', 'Firozepur', 'Kra Daadi', 'Ganderbal', 'Moga',
       'Lahul And Spiti', 'Pathankot', 'Yanam', 'Medchal Malkajgiri',
       'Shahid Bhagat Singh Nagar', 'Kapurthala', 'Narayanapet', 'Faridkot',
       'Fatehgarh Sahib', 'Shopian', 'Charki Dadri', 'Kargil', 'Kalimpong',
       'Ramban', 'Kupwara', 'Mulugu', 'Lower Siang', 'Mahe', 'Chandigarh',
       'Kamle', 'Gaurella-Pendra-Marwahi', 'Leparada', 'Pakke Kessang',
       'Shi Yomi', 'Chennai', 'Tirupathur', 'Daman', 'Diu', 'Niwari',
       'Chengalpattu', 'Tenkasi', 'Kallakurichi', 'Ranipet', 'Biswanath',
       'Majuli', 'Charaideo', 'Mumbai Suburban', 'Hojai', 'West Karbi Anglong',
       'South Salmara Mancachar'],
      dtype='object', name='district_name')

In [44]:
df_2= df_2[~df_2['district_name'].isin(less)]

In [50]:
df_2.reset_index(drop=True)

,year,state_name,district_name,season,crop_name,area,production
0,2010,Andhra Pradesh,Anantapur,Whole Year,Arecanut,409.0,182.0
1,2010,Andhra Pradesh,Krishna,Whole Year,Arecanut,9.0,4.0
2,2010,Andhra Pradesh,West Godavari,Whole Year,Arecanut,20.0,9.0
3,2010,Telangana,Adilabad,Kharif,Arhar/Tur,47884.0,26193.0
4,2010,Telangana,Adilabad,Rabi,Arhar/Tur,1648.0,901.0
...,...,...,...,...,...,...,...
162976,2020,Uttarakhand,Pithoragarh,Rabi,Wheat,16850.0,28415.0
162977,2020,Uttarakhand,Rudra Prayag,Rabi,Wheat,9155.0,8709.0
162978,2020,Uttarakhand,Tehri Garhwal,Rabi,Wheat,15451.0,28096.0
162979,2020,Uttarakhand,Udam Singh Nagar,Rabi,Wheat,105961.0,471000.0
162980,2020,Uttarakhand,Uttar Kashi,Rabi,Wheat,9082.0,15203.0

In [48]:
df_2.isnull().sum()

year             0
state_name       0
district_name    0
season           0
crop_name        0
area             0
production       0
dtype: int64

In [51]:
crops = df_2[['state_name', 'district_name']].drop_duplicates().reset_index(drop=True)

In [53]:
crops.to_csv('place_2011-20.csv')

In [54]:
df_2.to_csv('agriculture_2011-20.csv')